
.main{
    background-color: rgb(0, 0, 0);
    /* border: 1px solid black; */
    margin: 0%;
    /* margin-top: 50px; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    
}
.main-info{
    color: white;
    padding: 5% 0;
    width: 30%;
    /* border: 1px solid white; */
}
.main-info p{
    line-height: 10px;
}
.main-info p span{
    text-decoration: underline;
}
.main-info h4{
    line-height: 5px;
    font-size: 12px;
    color: gray;
}
.smaller{
    font-size: 12px;
}
.main-info button{
    background-color: white;
    font-size: 15px;
    padding: 10px;
    width: 80%;
    margin: 10px;
    border-radius: 50px;
}
.main-info button:hover{
    background-color: rgb(240, 240, 240);
}
.main-info h6{
    color: white;
    text-align: center;
    font-weight: lighter;
    line-height: 0px;
}
.main-img{
    width: 60%;
    height: fit-content;
    margin-top: 20px;
}
.main-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.service-sec{
    width: 300px;
}
.service-img{
    width: 100%;
    position: relative;
}
.service-img img{
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.service-sec h2{
    padding: 0%;
    line-height: 20px;
    margin: 0%;
}
.service-sec p{
    color: gray;
}
/* Container for image */
.service-img {
    position: relative;
    width: 300px; /* Adjust size as needed */
}

/* Style for the image */
.image {
    width: 100%;
    height: auto;
}

/* The overlay div */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay with semi-transparency */
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth transition effect */
}

/* The overlay content */
.overlay-content {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px;
    border-radius: 100%;
    text-align: center;
}

/* When hovering over the image container, show the overlay */
.service-img:hover .overlay {
    opacity: 1;
}
.service-row{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 5% 0;
}


.tab-menu {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
    width: 96%;
    margin: 5% 2%;
  }
  
  .tab-button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    color: gray;
    border-bottom: 1px solid gray;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .tab-button.active {
    /* background-color: darkgray; */
    color: rgb(0, 0, 0);
   border-bottom: 2px solid black;
  }
  
  .tab-button:hover {
    background-color: transparent;
    color: black;
  }
  
  .tab-content {
    width: 96%;
    margin: 0% 2%;
    /* border: 1px solid lightgray; */
    /* background-color: #f9f9f9; */
    /* min-height: 100px; */
  }
  .feature-line{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  .feature-sec{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: left;
  }
  .feature-sec p span{
    font-weight: bolder;
  }
  .progress-bar {
    margin-top: 5px;
    height: 8px;
    width: 100%;
    background-color: #e0e0e0; /* Background of the bar */
    border-radius: 5px;
    overflow: hidden;
  }
  
  .filled-bar {
    height: 25px;
    background-color: #232323; /* Color of the filled portion */
    text-align: center;
    color: white;
    line-height: 25px; /* Align text in the middle */
    transition: width 0.5s ease-in-out; /* Smooth transition */
  }
  
 .rating{
    width: 20%;
 } 
.rating p{
    padding: 0%;
    margin: 0%;
}
.rating h3{
    padding: 0%;
    margin: 0%;
}
.rating-per{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.fa-thumbs-up{
    color: green;
}
.fa-thumbs-down{
    color: red;
}
.rating button{
    font-size: 15px;
    border: 1px solid black;
    padding: 10px 20px;
    font-weight: bolder;
    border-radius: 50px;
    margin-top: 20px;
}

.comment-info p{
    padding: 0%;
    margin: 10%;
    /* border: 1px solid palegreen; */
   height: fit-content;
    /* margin-top: 20px; */
    /* padding-top: 100px; */
}
.comment-info{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
}
.comment-info h3{
    padding: 0%;
    margin: 0%;
}
.comment p{
    padding: 0%;
    margin: 0%;
}
.comments{
    width: 70%;
}
.reviews{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.contact-sec i{
    padding-right: 10px;
    color: black;
    font-size: 15px;
}
.contact-sec p{
    color: rgb(56, 56, 56);
    font-size: 15px;
}
.contact-sec .underline{
    font-size: 14px;
    text-decoration: underline;
}
.contact-sec{
    width: 25%;
}
.contact-sec h4{
    font-weight: lighter;
}
.release-info h3{
    font-size: 30px;
    padding: 0%;
    margin: 0%;
    margin-bottom: 20px;
}
.version h3{
    font-weight: normal;
    font-size: 17px;
    margin: 0%;
    padding: 0%;
}
.version p{
    font-size: 10px;
    color: gray;
    padding: 0%;
    margin: 0%;
    margin-top: 10px;
}
.version{
    display: flex;
    gap: 10px;
}
.release-info .underline{
    font-size: 14px;
    text-decoration: underline;   
}
.release-info{
    width: 60%;
}
.support{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.heading{
    width: 40%;
}
.sections{
    width: 40%;
    /* margin-top: 50px; */
}
.build{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 0;
    background-color: rgb(247, 247, 247);
}
.build-sec-head img{
  width: 20px;
  height: 20px;
}
.build-sec-head h4{
    margin: 0%;
    padding: 0%;
    padding-left: 10px;
}
.build-sec-head{
    display: flex;
}
.laptop{
    width:200px;
}
.phone{
    width: 150px;
    height: 200px;
    position: absolute;
    z-index: 10;
    left: 20px;
}


@media screen and (max-width:450px){

    .main{
        flex-direction: column;
    }
    .main-info{
        width: 90%;
        margin: 0% 5%;
    }
    .main-img{
        width: 90%;
        margin: 0% 5%;
    }
    .service-row{
        flex-direction: column;
    }
    .service-sec{
        width: 90%;
        margin: 0% 5%;
    }
    .tab-menu{
        flex-direction: column;
    }
    .feature-line{
        flex-direction: column;
        width: 90%;
        margin: 0% 5%;
    }
    .feature-sec{
        flex-direction: column;
        width: 100%;
        /* border: 1px solid black; */
    }
    .reviews{
        flex-direction: column;
        width: 90%;
        margin: 0% 5%;
    }
    .rating{
        width: 100%;
    }
    .comments{
        width: 100%;
    }
    .support{
        flex-direction: column;
        width: 90%;
        margin: 0% 5%;
    }
    .contact-sec{
        width: 100%;
    }
    .release-info{
        width: 100%;
    }
    .build{
        flex-direction: column;
       
        width: 100%;
    }
    .heading{
        width: 90%;
        margin: 0% 5%;
    }
    .sections{
        width: 90%;
        margin: 0% 5%;
    }
    
    .laptop{
        width: 100%;
    }
    .phone{
        width: 100%;
    }
}
    
@media screen and (min-width:500px) and (max-width:800px){
.service-sec{
    width: 250px;
    border: 1px solid orange;
}
.service-img{
    width: 100%;
}

}