body{
  /* overflow: hidden; */
  overflow-x: hidden;
}
.banner{
  background-color: rgb(229, 229, 229);
  padding: 2%;
}
.banner p{
  font-size: 22px;
}
.temp-row{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 15% 0;
}
@media screen and (max-width:450px){
body{
  overflow-x: hidden;
}
  .temp-row{
  flex-direction: column;
  width: 90%;
  margin:5%;
  margin-bottom: 25%;

/* border: 1px solid blue; */

}
.banner{
  text-align: center;
}
.banner p{
  font-size: 15px;
}
}
@media screen and (min-width:500px) and (max-width:800px){
  .temp-row{
    gap: 10px;
  }

  }